<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
<br><h1>3D Controller</h1>

<br>
<p></p>
<br>
<h2> Touch the 3D controller anywhere and the controller provides you the exact location in (x,y,z) co-ordinate system </h2><br><br>
<br><img src="images/c1.JPG" width="640" height="400"><br><br>
<br><img src="images/c2.JPG" width="640" height="400"><br><br>
<br><br>
<h1>Comments:</h1>


<% @comments.each do |comment| %>
<table>
  <tr>
    <th></th>
  </tr>
<tr>
    <td> <h2><strong><%= comment.name %> </strong>Says:</h2><br>
 <h3><%= comment.comment %></h3><br> </td>
</tr>

</table>
<% end %>

<br>
<h1> Add Comment:</h1>


<%= render 'form' %>
