<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
<style file=text/css>
	h2{font-size:20px;}
</style>
<br><h1>ECE297 Communication and Design</h1>
<h1>Project: Storage Server (written in C)</h1>
<br>
<h2><strong>Purpose:</strong> To store/modify user data in files on disk and to query data.
<br><br><strong>Description:</strong> The Storage server can handle up to 10 clients at a time. The Client and Server communicate over a TCP connection. Only verified users are allowed access to the server. Users are authenticated by Public/Private Key Encryption.<br>The user can then store/modify, retrieve and query data.<br>
<br>


<h1>Comments:</h1>


<% @comments.each do |comment| %>
<table>
  <tr>
    <th></th>
  </tr>
<tr>
    <td> <h2><strong><%= comment.name %> </strong>Says:</h2><br>
 <h3><%= comment.comment %></h3><br> </td>
</tr>

</table>
<% end %>

<br>
<h1> Add Comment:</h1>


<%= render 'form' %>
