<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
<style file=text/css>
	h2{font-size:20px;}
</style>
<br><h1>ECE243 Computer Organization</h1>


<br>
<h1>Project: Lego Crane</h1>
<br>
<h2><strong>Purpose:</strong> To pick metallic objects and move them to another location. <br><br><strong>Description:</strong> The crane is capable of moving in all directions. It has a rotating arm with a Conveyor belt. A 4-inch long duck tape is kept hanging from the conveyor belt which encloses a magnet at the end. <br><br>
<strong>Controls:</strong><ul> <li>Keyboard Keys 'W', 'A', 'S', 'D': To move the crane.</li> <br> <li>Keyboard Keys 'Z' and 'X' to control clockwise and anti-clockwise movement of rotating arm respectively</li><br> <li>DE2 Board Keys KEY[0] and KEY[1]: To control forward and backward movement of the Conveyer belt </h2></li></ul><br>
<br>
<h1>Demo: </h1>

<br><br>
<h2><strong>Crane</strong>: <br><img src="images/9.png"><br><br></h2>
<h2><strong>  The Rotating Arm with conveyor belt and duck tape</strong>: <br><img src="images/rotating_arm1.png" ><br><br><img src="images/rotating_arm2.png">     </h2>


<br><br>
<h1>Comments:</h1>


<% @comments.each do |comment| %>
<table>
  <tr>
    <th></th>
  </tr>
<tr>
    <td> <h2><strong><%= comment.name %> </strong>Says:</h2><br>
 <h3><%= comment.comment %></h3><br> </td>
</tr>

</table>
<% end %>

<br>
<h1> Add Comment:</h1>


<%= render 'form' %>
