<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
<br><h1>ECE297 Communication and Design</h1>

<br>
<p>blah blah1</p>
<br>


<h1>Comments:</h1>


<% @comments.each do |comment| %>
    <h2><%= comment.name %> Says:</h2>
	<h3><%= comment.comment %></h3>

<% end %>

<br>
<h1> Add Comment:</h1>


<%= render 'form' %>
