<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!--
		Supersized - Fullscreen Slideshow jQuery Plugin
		Version : 3.2.6
		Site	: www.buildinternet.com/project/supersized
		
		Author	: Sam Dunn
		Company : One Mighty Roar (www.onemightyroar.com)
		License : MIT License / GPL License
	-->

	<head>

		<title>Supersized - Full Screen Background Slideshow jQuery Plugin</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
		<link rel="stylesheet" href="stylesheets/supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="stylesheets/supersized.shutter.css" type="text/css" media="screen" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.easing.min.js"></script>
		
		<script type="text/javascript" src="javascripts/supersized.3.2.6.min.js"></script>
		<script type="text/javascript" src="javascripts/supersized.shutter.min.js"></script>
		
</br></br></br>			
		<script type="text/javascript">

			jQuery(function($){
				
				$.supersized({
				
					// Functionality
					slide_interval          :   4000,		// Length between transitions
					transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
					transition_speed		:	700,		// Speed of transition
															   
					// Components							
					slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
					slides 					:  	[			// Slideshow Images
														{image : 'images/4.jpg'},
														{image : 'images/5.jpg'},
														{image : 'images/7.jpg'},
														{image : 'images/9.png'}
												]
					
				});
		    });
		    
		</script>
		
	</head>
	
	<style type="text/css">
		ul#demo-block{ margin:0 15px 15px 15px; }
			ul#demo-block { margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url('images/bg-black.png'); font:22px Helvetica, Arial, sans-serif; }
			ul#demo-block  a{ color:#eee; font-weight:bold; }
	h1{color:#fff;}
	</style>

<body>
<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->



	<!--Demo styles (you can delete this block)-->
	
<!--	<ul id="demo-block">
	<p>HELLO WORLD!</p>
	<h1>nice</h1>
	</ul>-->

	<!--End of styles-->

</body>
</html>
