<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="stylesheets/resume.css" media="all" />
	<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Mohammad Wasiuddin Ahmed</h1>
					<h3><a href="http://www.heroku.com">MWAhmed.heroku.com</a></h3>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:wasiuddin.ahmed@utoronto.ca">wasiuddin.ahmed@utoronto.ca</a></h3>
						<h3>(647)-982-0641</h3>
						<h3>#419-75 Thorncliffe Park Drive, Toronto, ON M4H 1L4</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Toronto (2009-Present)</h2>
							<h3>BASc Computer Engineering </h3>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change. 
							</p>
						</div>
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Certification</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Microsoft Certified IT Professional (MCITP), Enterprise Administrator
							</p>
						</div>
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C/C++</li>
								<li>NIOS II Assembly</li>
								<li class="last">Verilog</li>
							</ul>


							<ul class="talent">
								<li>Ruby</li>
								<li>Ruby on Rails</li>
								<li class="last">Git / Subversion</li>
							</ul>

							<ul class="talent">
								<li>HTML / CSS</li>
								<li>Windows Server 2003 / 2008</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Training</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job last">
								<h2>Zoom Technologies, India</h2>
								<h3>Network Administrator</h3>
								<h4>June - September 2011</h4>
								<p>• Configured DHCP, DNS and Active Directory servers.<br>
• Created Users and groups and managed their policies. Took backup of data everyday<br>
• Managed FTP and Samba server. Transferred files from Windows to Linux and vice-versa<br>
• Managed NTFS and shared folder security<br>
• Presented a report every two days to the manager regarding server errors and other network,
  hardware or software problems.
 </p>
							</div>
						</div>
					</div>

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Web Development</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>NoobSkoop</h2>
<!--								<h3>Network Administrator</h3>
								<h4>June - September 2011</h4>-->
								<p> </p>
							</div>
						</div>
						<div class="yui-u">

							<div class="job last">
								<h2>Scooter Tours</h2>
<!--								<h3>Network Administrator</h3>
								<h4>June - September 2011</h4>-->
								<p> </p>
							</div>
						</div>
					</div>

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Android/Arduino RC Car</h2>
								<h3>Senior Interface Designer</h3>
								<p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence. </p>
							</div>

							<div class="job">
								<h2>Arduino 3D- Tic Tac Toe</h2>
								<h3>Senior Interface Designer</h3>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>

							<div class="job">
								<h2>Storage Server</h2>
								<h3>Principal and Creative Lead</h3>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>

							<div class="job">
								<h2>Lego Crane</h2>
								<h3>Principal and Creative Lead</h3>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>

							<div class="job last">
								<h2>Chip Collector Game (Verilog)</h2>
								<h3>Lead Web Designer</h3>
								<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>References</h2>
						</div>
						<div class="yui-u">
							<h2>Available upon request</h2>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Mohammad Ahmed &mdash; <a href="mailto:wasiuddin.ahmed@utoronto.ca">wasiuddin.ahmed@utoronto.ca</a> &mdash; (647) - 982-0641</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

