
<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
	<style type="text/css">
		section{ width:600px;}
		.container {
		  width: 1150px;
		}

	</style>
</t><h1>Send Email</h1>
</br>
</t><%= render 'form' %>
